# .gitignore
*.tfstate
**/.terraform/*

*.tfstate
*.tfstate.*
crash.log

*.exe
*.zip

override.tf
override.tf.json
*_override.tf
*_override.tf.json

*.tfvars
*.tfvars.json

*.plan

**/.terraform/
*.tfstate
*.tfstate.backup
crash.log



